/* Pantalla completa */
.pantalla {
    width: 100%;
    min-height: 100vh;
    background: #f0f0f0; /* Color suave */
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

/* Contenedor */
.contenido {
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* Título */
.contenido h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Texto */
.contenido p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Imágenes */
.imagenes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Cada imagen ocupa el ancho completo */
.imagenes img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
/* Botón regresar */
.boton-regresar {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background: #008cff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.boton-regresar:hover {
    background: #006ed3;
}
